#ConfigServer
spring:
   output:
      ansi:
         enabled: ALWAYS

logging:
   pattern:
      console: "%clr(%d{yyyy-MM-dd HH:mm:ss}){green} %clr(%-5level){yellow} %clr(%logger{36}){blue} - %msg%n"

eureka:
   instance:
      prefer-ip-address: true

   client:
      fetch-registry: true
      register-with-eureka: true
      service-url:
         defaultZone: http://localhost:8761/eureka
